.tituloTop {
    height: 300px; /* Cambiar 300px al valor deseado */
    background-color: #f0f0f0; /* Color de fondo opcional para visualizar la sección */
    padding: 20px; /* Añadir relleno opcional para espaciar el contenido */
}


h1 {
    font-size: 3em; /* Tamaño de fuente más grande */
    text-align: center; /* Centrar el texto horizontalmente */
}
